.courses-drawer-wraper .drawer-length {
    font-size: 14px;
    margin-bottom: 10px;
}
.courses-drawer-wraper .courses-drawer-inner {
    border: 1px solid #d1d7dc;
    border-top: 0px;
}
.courses-drawer-inner .single-courses-drawer {
    transition: 1s;
}
.courses-drawer-inner .single-courses-drawer .drawer-title {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d1d7dc;
    background-color: #f7f9fa;
    cursor: pointer;
    font-size: 14px;
}
.courses-drawer-inner .single-courses-drawer .drawer-title .main-title {
    font-size: 16px;
    font-weight: 700;
}
.courses-drawer-inner .single-courses-drawer .drawer-title .time {
    color: #2d2f31;
    min-width: 150px;
    text-align: right;
}
.courses-drawer-inner .single-courses-drawer .drawer-body {
    padding: 16px 24px;
    border-top: 1px solid #d1d7dc;
    background-color: #fff;
    font-size: 14px;
    padding-top: 0;
    display: none;
}
.courses-drawer-inner .single-courses-drawer .drawer-body p {
    padding-top: 16px;
}

.courses-drawer-inner .single-courses-drawer .drawer-body i {
    font-size: 13px;
    margin-right: 10px;
}

.courses-drawer-inner .expended > .drawer-body {
    display: block;
}
.courses-drawer-inner .drawer-title .main-title i {
    transition: 0.5s;
}