/* recommendation section */
.single-recom-common-card {
    display: inline-block;
    color: #2d2f31;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 60px;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
}
.single-recom-common-card:hover{
    color: #2d2f31;
}
.single-recom-common-card .recom-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.single-recom-common-card .recom-title {
    font-weight: 700;
    font-size: 16px;
    margin: 3px 0;
    letter-spacing: -0.02rem;
    line-height: 1.3;
}
.single-recom-common-card .price {
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.single-recom-common-card .author {
    color: #696969;
    font-size: 13px;
}
.single-recom-common-card .infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-recom-common-card .infos p {
    color: #696969;
    font-size: 13px;
}
.single-recom-common-card .ratings {
    font-size: 15px;
    font-weight: 700;
    margin: 3px 0;
}
.single-recom-common-card .ratings i {
    font-size: 10px;
    color: #f69c08;
    margin: 3px 0;
}
.single-recom-common-card .ratings span {
    color: #696969;
    font-size: 12px;
    font-weight: 400;
}